* {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Raleway', sans-serif;
    height: 76px;
    border-bottom: 1px solid rgb(235, 235, 235);
    display: flex;    
    align-items: center;
    justify-content: space-around;

}

.nav-wrapper {
    display: flex;
    align-items: baseline;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-size: 0.8em;
    color: #333;
    padding-right: 50px;
}

li a:hover {
    color: #337ab7;
}

.logo {
    font-size: 1.2em;
    text-decoration: none;
    color: #666;
    margin-right: 200px;
}

.logo:hover {
    color: #333;
}